:root{
--gris-medio-claro:  #474646;
--gris-oscuro: #1C262A; 
--violeta:  #C8B6FF;
--blanquito: #E7ECEF;
--gris-claro:  #A6A6A6;
--neon: 0 0 2px #C8B6FF,0 0 30px #C8B6FF,0px 0px 5px #b3a1e8, 0 0 150px #b19fe4;
}

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 100%;
    height: auto;
    background-color: var(--gris-claro);
}

.header{
    width: 100%;
    height: 30%;
    background-color: #C8B6FF;
}

.contenedor-chico{
    width: 50%;
    height: 200px;
    margin: auto;
    background-color: #474646;
    display: flex;
    flex-direction: row;
}

.imagen img{
    width: 85%;
    height: 65%;

    margin-top: 20px;
}

.linea{
    background-color: var(--blanquito);
    width: 3px;
    height: 65%;
    border-radius: 20px;
   
    margin-top: 20px;
}

.puntaje{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.texto{
    color: var(--blanquito);
    font-size: 2em;
}

.puntajes{
    color: var(--blanquito);
    font-size: 2em;
}