@font-face {
font-family: 'Adventure-Subtitles';
src:url('Fonts/Adventure-Subtitles.ttf.woff') format('woff'),
    url('Adventure-Subtitles.ttf.svg#Adventure-Subtitles') format('svg'),
    url('Fonts/Adventure-Subtitles.ttf.eot'),
    url('Adventure-Subtitles.ttf.eot?#iefix') format('embedded-opentype'); 
font-weight: normal;
font-style: normal;
}

:root{
    --gris-medio-claro:  #474646;
    --gris-oscuro: #1C262A; 
    --violeta:  #C8B6FF;
    --blanquito: #E7ECEF;
    --gris-claro:  #A6A6A6;
    --neon: 0 0 2px #C8B6FF,0 0 30px #C8B6FF,0px 0px 5px #a293d1, 0 0 150px #a493d1;
    --neon-blanquito: 0 0 2px #f6f3ff,0 0 30px #f8f6ff,0px 0px 5px #f2f0fa, 0 0 150px #f0eef7;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--gris-claro);
}

.contenedor{
    width: 100%;
    height: auto;
    background-color: var(--gris-claro);
}

.header{
    width: 100%;
    height: auto;
    
}

.contenedor-chico{
    width: 30%;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;

    
}

.imagen img{
    width: 90%;
    height: 65%;
    margin-top: 30px;
    
}

.linea{
    background-color: var(--blanquito);
    width: 3px;
    height: 65%;
    border-radius: 20px;
    margin-top: 30px;
    
}

.puntaje{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
}

.texto{
    color: var(--violeta);
    font-size: 3em;
    font-family: 'Adventure-Subtitles';
    text-shadow: var(--neon);
    -webkit-text-stroke: 0.4px grey;
}

.puntajes{
    color: var(--blanquito);
    font-size: 3em;
    font-family: 'Adventure-Subtitles';
    text-shadow: var(--neon-blanquito);
    -webkit-text-stroke: 0.3px grey;
}

#contencion{
    width: 40%;
    height: auto;
    margin: auto;
    
}

#textos{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    font-family: 'Adventure-Subtitles';
    color: var(--blanquito);

}

#casilla{
    display: flex;
    width: 100%;
    height: 50px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10PX;
    background-color: var(--violeta);
    margin-top: 10px;
    border-radius: 2em;
    font-size: 1.5em;
    font-family: 'Adventure-Subtitles';
    color: var(--gris-medio-claro);

}
.ranking{
    text-align: center;
}

.div-1{
    margin-left: 65px;
}

.div-2{
    margin-right: 70px;
}


.pie-de-pagina{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
    
}

.inicio{
    width: 20%;
    margin-left: 70px;
    
}

.inicio img{
    width: 60px;
    height: 60px;
}

.inicio img:hover{
    width: 70px;
    height: 70px;
    transition: .3s;
    cursor: pointer;
    position: absolute;
}

.ayuda{
    width: 20%;
    align-items: flex-end;
    margin-right: 70px;
}

.ayuda img{
    width: 60px;
    height: 60px;
    float: right;
}

.ayuda img:hover{
    width: 70px;
    height: 70px;
    transition: .3s;
    cursor: pointer;
}

