<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS QUIZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/ayuda_style.css) }}">
</head>
<body>
    <section class="contenedor">
        <div class="header">
            <div class="contenedor-chico">
                <div class="imagen">
                    <img src="{{ url_for('static', filename = 'img/LOGO.png')}}" alt="" >
                </div>
                <div class="linea">

                </div>
                <div class="ayuda">
                    <div class="texto">
                        AYUDA
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contenedor-informacion">
        <div class="informacion">
            <p>  
                - El juego consiste en una serie de tablets, más específicamente 18 de ellas, las cuales al pasar el cursor sobre alguna de ellas, el puntaje que ésta otorga podrá verse. </br>
            </br>
                - Al hacer click sobre alguna, vas a ser direccionado a la interfaz de la tablet donde se mostrará la pregunta y 4 posibilidades de respuestas, una de ellas correcta. </br>
            </br>
                - Si la respuesta elegida es la correcta, el puntaje que estaba indicado en la tablet será sumado a tu total de puntos. Una vez respondida la pregunta, la laptop quedara de un color verde en el caso de haber respondido bien, y de color rojo en el caso de haber respondido mal. En los dos casos quedara inhabilitado el acceso a la tablet. </br>
            </br>
                - En la interfaz de las tablets verás tu puntaje a medida que el juego avanza y vas respondiendo las preguntas. </br>
            </br>
                - Una vez respondidas las 18 preguntas de las 18 laptops, se mostrará una pantalla en donde verás tu puntaje final y un botón para volver a jugar y otro para ver el ranking mundial. </br> 
            </br>
                - En este se mostrará tu nickname, puntaje y poisición que obtuviste en base a tus puntos.
            </p>
        </div>
    </section>
    <footer class="pie-de-pagina">
        <div class="inicio">
            <img src="{{ url_for('static', filename = 'img/casa-inicio(1).png)}}" alt="" href="">
        </div>
    </footer>
</body>
</html>