<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS QUIZ</title>
    <link href="{{ url_for('static', filename ='styles/index_styles.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>

            <div class="navegador-logo">

                <div class="logo">
                    <img src="{{ url_for('static', filename = 'img/LOGO.png')}}" alt="" class="logo-f">
                </div>
                
            </div>

            <div class="navegador-menu">
                
                <nav role='navigation'>
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="https://www.un.org/sustainabledevelopment/es/2015/09/la-asamblea-general-adopta-la-agenda-2030-para-el-desarrollo-sostenible/#:~:text=La%20Asamblea%20General%20de%20la,el%20acceso%20a%20la%20justicia." target="_blank">
                                <li>Agenda 2030</li>
                            </a>
                            <a href="https://www.un.org/sustainabledevelopment/es/cities/" target="_blank">
                                <li>ODS 11</li>
                            </a>
                            <a href="https://www.un.org/sustainabledevelopment/es/sustainable-consumption-production/" target="_blank">
                                <li>ODS 12</li>
                            </a>
                            <a href="" target="_blank" onclick="window.location.href='{{ url_for('acercaDe')}}';">
                                <li>Acerca de nosotros</li>
                            </a>
 
                        </ul>
                    </div>
                </nav>
                
            </div>

        </nav>
    </header>
    <hr>
    <section class="parametros">

        <section class="texto-1">
            <div class="ODS-QUIZ">
                <h1>
                    ODS QUIZ
                </h1>
            </div>
        </section>
    
        <section class="interfaz-botones">

            <button onclick="window.location.href='{{ url_for('guardarnickname')}}';" class="jugar" id="estilo-boton">
            JUGAR
            </button>
            
            <button onclick="window.location.href='{{ url_for('ranking')}}';" class="ranking" id="estilo-boton">
                RANKING
            </button>
            <button onclick="window.location.href='{{ url_for('informacion')}}';" class="ayuda" id="estilo-boton">
                AYUDA
            </button>

        </section>
    </section>
    
    <div class="sidePanel">
        <div class="pixelCon">
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
          <div class="pixel"></div>
        </div>
      </div>
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>

</html>