<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS QUIZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/juego_style.css) }}">
</head>
<body>
    <section class="contenedor">
        <div class="header">
            <div class="contenedor-chico">
                <div class="imagen">
                    <img src="{{ url_for('static', filename = 'img/LOGO.png')}}" alt="" >
                </div>
                <div class="linea">

                </div>
                <div class="puntaje">
                    <div class="texto">
                        Puntaje
                    </div>
                    <div class="puntajes">
                        1234
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contenedor-laptops">
        <div class="primer-contenedor" >
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="i{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
        </div>

        <div class="segundo-contenedor">
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
        </div>
        
        <div class="segundo-contenedor">
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
            <div class="container" id="estilo-laptops">
                <img src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="">
            </div>
        </div>      
    </section>
    <footer class="pie-de-pagina">
        <div class="inicio">
            <img src="{{ url_for('static', filename = 'img/casa-inicio(1).png)}}" alt="" href="">
        </div>
        <div class="ayuda">
            <img src="{{ url_for('static', filename = 'img/ayuda(1).png)}}" alt="" href="">
        </div>
    </footer>
</body>
</html>