<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS QUIZ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='styles/juego_style.css') }}">
</head>
<body>
    <section class="contenedor">
        <div class="header">
            <div class="contenedor-chico">
                <div class="imagen">
                    <img src="{{ url_for('static', filename = 'img/LOGO.png')}}" alt="" >
                </div>
                <div class="linea">

                </div>
                <div class="puntaje">
                    <div class="texto">
                        PUNTAJE
                    </div>
                    <div class="puntajes">
                        1234
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contenedor-laptops">
        <div class="primer-contenedor" >
            <div class="container" id="estilo-laptops">
                <img id="1" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="2" name="tablet-25" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="3" name="tablet-25" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="4" name="tablet-25" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="5" name="tablet-25" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="6" name="tablet-25" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
        </div>

        <div class="segundo-contenedor">
            <div class="container" id="estilo-laptops">
                <img id="7" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="8" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops"> 
                <img id="9" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="10" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="11" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="12" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
        </div>
        
        <div class="segundo-contenedor">
            <div class="container" id="estilo-laptops">
                <img id="13" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)" >
            </div>
            <div class="container" id="estilo-laptops">
                <img id="14" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="15" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="16" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)">
            </div>
            <div class="container" id="estilo-laptops">
                <img id="17" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)" >
            </div>
            <div class="container" id="estilo-laptops">
                <img id="18" src="{{ url_for('static', filename = 'img/tablet-apagada.png')}}" alt="" onclick="window.location.href='{{ url_for('mostrar_pregunta')}}';" onmouseover="changePic1(this.id)" onmouseout="changePic2(this.id)" >
            </div>
        </div>      
    </section>
    <footer class="pie-de-pagina">
        <div class="inicio">
            <img src="{{ url_for('static', filename = 'img/casa-inicio.jpg')}}" alt="" onclick="window.location.href='{{ url_for('index')}}';">
        </div>
        <div class="ayuda">
            <img src="{{ url_for('static', filename = 'img/ayuda.jpg')}}" alt="" onclick="window.location.href='{{ url_for('informacion')}}';">
        </div>
    </footer>
    <script src="{{url_for('static', filename='scripts/main.js')}}"></script>
</body>
</html>