<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS QUIZ</title>
    <link href="{{ url_for('static', filename='styles/preguntas_style.css') }}" rel="stylesheet">
</head>
<body>
   <section class="contenedor">
        <div class="cont-pregunta" id="estilo-boton">
            <p class="pregunta">¿Gabi es GAY?</p>
        </div>
        <section class="respuestas1-cont">
            <button class="cont-respuesta" id="estilo-boton">
                <p class="respuesta">Muy</p>
            </button>
            <button class="cont-respuesta" id="estilo-boton">
                <p class="respuesta">Un Poco</p>
            </button>
        </section>
        <section class="respuestas2-cont">
            <button class="cont-respuesta" id="estilo-boton">
                <p class="respuesta">Normal</p>
            </button>
            <button class="cont-respuesta" id="estilo-boton">
                <p class="respuesta">Ninguna de las anteriores</p>
            </button>
        </section>
        <div class="windows-bar">
            <div class="taskbar">
                <img src="https://i.ibb.co/J5P7Y39/icons.png" alt="taskbarcenter" class="barra">
                <img class="right" src="https://i.ibb.co/hB9wF0j/taskbarright.png" alt="taskbarright">
            </div>
        </div>
   </section>
    <img src="{{ url_for('static', filename='img/HP.png') }}" alt="LOGO HP" class="hp-logo">
</body>
</html>