<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS QUIZ</title>
    <link href="{{ url_for('static', filename='styles/preguntas_style.css') }}" rel="stylesheet">
</head>
<body>
   <section class="contenedor">
        <div class="cont-pregunta" id="estilo-boton" onload="cambiarTexto()">
            <p id="preguntilla" class="pregunta">{{pregunta}}</p>
        </div>
        <section class="respuestas1-cont">
            <button class="cont-respuesta" id="estilo-boton" value="{{respuesta1}}" onclick="enviarRespuesta(this)">
                <p class="respuesta">{{respuesta1}}</p>
            </button>
            <button class="cont-respuesta" id="estilo-boton" value="{{respuesta2}}" onclick="enviarRespuesta(this)">
                <p class="respuesta">{{respuesta2}}</p>
            </button>
        </section>
        <section class="respuestas2-cont">
            <button class="cont-respuesta" id="estilo-boton" value="{{respuesta3}}" onclick="enviarRespuesta(this)">
                <p class="respuesta">{{respuesta3}}</p>
            </button>
            <button class="cont-respuesta" id="estilo-boton" value="{{respuesta4}}" onclick="enviarRespuesta(this)">
                <p class="respuesta">{{respuesta4}}</p>
            </button>
        </section>
   </section>
   <form action="/game" id="id" method="post"></form>
    <img src="{{ url_for('static', filename='img/Windows.png') }}" alt="LOGO HP" class="hp-logo">
    <script src="{{ url_for('static', filename='scripts/main.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>