<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS QUIZ</title>
    <link href="{{ url_for('static', filename='styles/ranking_style.css') }}" rel="stylesheet">
</head>
<body>
    <section class="contenedor">
        <div class="header">
            <div class="contenedor-chico">
                <div class="imagen">
                    <img src="{{ url_for('static', filename = 'img/LOGO.png')}}" alt="" >
                </div>
                <div class="linea">

                </div>
                <div class="puntaje">
                    <div class="texto">
                        RANKING
                    </div>
                    <div class="puntajes">
                        MUNDIAL
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contencion">
        <div id="textos">
            <p>TOP</p>
            <p>NICKNAME</p>
            <p>PUNTOS</p>
        </div>
        {% for i in range(10) %}
        <div id="casilla">

            <div class="div-1">{{i+1}}</div>
            <div>{{ lineamostrar[i][0] }}</div>
            <div class="div-2">{{ lineamostrar[i][1] }}</div>

        </div>
        {% endfor %}
     
     

    </section>

    <footer class="pie-de-pagina">
        <div class="inicio">
            <img src="{{ url_for('static', filename = 'img/casa-inicio.jpg')}}" alt="" onclick="window.location.href='{{ url_for('index')}}';">
        </div>
        <div class="ayuda">
            <img src="{{ url_for('static', filename = 'img/ayuda.jpg')}}" alt="" onclick="window.location.href='{{ url_for('informacion')}}';">
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</body>
</html>

<!-- <ol class="ranking" style="list-style-type: none;">
    {% for linea in lineamostrar %}
        <li id="modulo-ranking" style="margin-bottom: 20px;">{{ linea[0] }}</li>
    {% endfor %}
</ol> -->

